@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mt-5 d-flex justify-content-center">
        <a href="@Url.Action("RegisterCompany", "CompaniesWeb")" class="btn btn-primary btn-lg button-spacing">Register Company</a>
        <a href="@Url.Action("ListCompanies", "CompaniesWeb")" class="btn btn-secondary btn-lg button-spacing">View Companies</a>
    </div>
</div>
